*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
    font-size: 62.5%;
    line-height: 1.6;
    background-color: #faf3dd;
}

#title {
    color: #fff; 
    font-size: 4rem; 
    margin: 1.5rem; 
    padding: .5rem; 
    background: linear-gradient(to left, #c8d5b9, #8fc0a9);;
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .5); 
}